* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
}

.content-wrap {
    background-color: hsl(0, 0%, 100%);
    width: 400px;
    border-radius: 15px;
}

.image-card {
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 20px;
}

.img-code {
    height: 20rem;
    width: 20rem;
    border-radius: 15px;
}

h1 {
    font-family: "Outfit", "sans-serif";
    font-weight: 700;
    text-align: center;
    font-size: 1.25vw;
    padding-top: 20px;
}

p {
    font-family: "Outfit", "sans-serif";
    font-weight: 400;
    text-align: center;
    font-size: 1vw;
    padding: 29px;
    color: hsl(220, 15%, 55%);

}

a {
    text-decoration: none;
}


.attribution {
    font-size: 16px; text-align: center;
    color: hsl(228, 45%, 44%);
    font-family: "Outfit", "sans-serif";
    padding-top: 50px;
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 5vw;
    }

    p {
        font-size: 4.5vw;
    }
}
